@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
*{

    box-sizing: border-box; 
   padding: 0;
   margin: 0;
}



.banner{

    float: top;
    color: white;
    background-color: black;
    width: 100%;
    text-align:center;    
    padding: 7px;
    font-family: sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
  
    
}

.persona{
    padding: 10px;
}

.persona1{
    width: 22px;
    height: 22px;
}
 

.lupa{

    padding: 10px;
}


.lupa1{
    width: 22px;
    height: 22px;
}

.carrito{
    padding: 10px;
}

.carrito1{
    width: 30px;
    height: 30px;
}

html{
    scroll-padding-top: 7rem;
}

nav{
    position: fixed;
    z-index: 100;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    width: 100%;
    padding-left: 80px;
    padding-right:80px ;
    
	
    
}
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.menu1{

    width: 35px;
    height: 35px;
 
}

.logo{
    padding-left: 130px;
    padding-top: 5px;
    cursor: pointer;
    
}

.logo1{
    
    width:180px;
    height: 37.97208322359757px;
}





.corazon{
    cursor: pointer;
    padding: 10px;
}
.corazon1{
    width: 22px;
    height: 22px;
}

video{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.video{
    
    height: 100%;
    
   
}


.boton{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 26px;
    
}

 .boton1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 14;
    position: relative;
    background-color: #222222;
    margin: 16px #222222;
    padding: 15px 18px;
    color: white;
    top: -6rem;
    left: 50%;
 }

 /* p{
    position: relative;
    padding: 28px;
    background-color: white;
 } */



 .nuevo{
    padding: 35px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: white;
    color: black;
    width: 100%;
 }
 
 .container{
    display: flex;  
    align-items: center;
 }
.section-1{

    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 7%;
    
    
}

 .img-container{
   
    height: 300px;
      
 }
 
.card{
    
    width: 220px;
}
.description{
    font-family: sans-serif;
    font-size: 12px;
   line-height: 1.5;
   text-align: left;
   overflow: hidden;
   margin-bottom: 0;
   font-weight: 700;
   padding: 0;

}

 img{
    width: 100%;
    height: 100%;
 }
.politica{
    padding: 7px;
}
 .section{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .img{
    width: 418.5px;
    height: 535px;
 }

 .popular{
    padding: 35px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: white;
    color: black;
    width: 100%;
 }
 .looks{
    font-family: 'Work Sans', sans-serif;
    padding: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    width: 100%;
 }
 .ld{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
 }

.ld1{
    clip-path: inset(7% 0 0 0);
    width: 247px;
    height: 280px;
}


.n{
    padding: 35px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    width: 100%;
}
.new{
    padding-top:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.t{
    text-align: center;
    padding-top: 28px;
   
    
}
.flecha{
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 0;


}

.b{
    width: 0px;
    height: 20px; 
}

.email{
    padding: 13px;
    border: solid black;
    border-radius: 0;
}
.sboton1{
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    align-items: center;
    margin: auto
    
}
.sboton{
    padding-top: 10px;
    padding-bottom: 1px;
    display:flex;
    align-items: center;
    
}

.boton{
   height: 45.7px;
    width: 38px;
    border-radius: 0;
    border-left: black;
    background: none;
    padding: 0;
}


input::placeholder{
    color: black;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 70%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);
    max-width: 60%;
    margin: auto;
    padding-bottom: 40px;
    
}
.politica1{
   padding-top: 0px;
   padding-left: 4px;

   
}

.customer2{
    display: flex;
    max-width: 60%;
    margin-top: 4px;
}

.re{
    padding-top: 70px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.firma{
    padding-top: 10px;
    padding-bottom:20px ;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.text{
    text-align: center;
    padding-bottom: 80px;
}

.h2{
    font-family: 'Work Sans', sans-serif;
   
}

.ff{
    padding: 28px;
    display: flex;
    justify-content: space-evenly;  
}
.columnas{
    
    flex-basis: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.renatta-description{
    max-width: 70%;
    line-height: 1.5;
}


